*{
    padding: 0;
    margin: 0;
}
body, html{
    height: 100%;
    width: 100%;
}
body{
    background: linear-gradient(55deg,#0a0a0a,#3a4452);
}
.page{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   
}
.page1{
    height: 60%;
    width: 30%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1588867702719-969c8ac733d6?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
.page2{
    height: 100%;
    width: 100%;
    position: relative;
   /* display: flex; */
   justify-content: center;
   flex-direction: column;
  border-radius: 10px;
    background-color: green;
    backdrop-filter: blur(2px) saturate(80%);
    -webkit-backdrop-filter: blur(160px) saturate(180%);
    background-color: rgba(17, 25, 40, 0.228);
    border-radius: 0px;
    border: 1px solid rgba(255, 255, 255, 0);
}
.page2 h1{
text-align: center;
margin-top: 20px;
color: #fff;
text-transform: uppercase;

}
.row{
    position: relative;
margin-left: 80px;
margin-top: 30px;
height: 100%;
width: 100%;
}
/* .input-wrapper input {
  background-color: #eee;
  border: none;
  padding: 1rem;
  font-size: 1rem;
  width: 13em;
  border-radius: 1rem;
  color: lightcoral;
  box-shadow: 0 0.4rem #dfd9d9;
  cursor: pointer;
} */

/* .input-wrapper input:focus {
  outline-color: lightcoral;
} */
.row input{
    
    border: none;
    outline: none;
    height: 40px;
    width: 400px;
    border-radius: 15px;
}
button{
height: 43px;
width: 90px;
position: absolute;
left: 60%;
border: none;
cursor: pointer;
background-color: #ff5945;
outline: none;
color: white;
font-size: 30px;
top: -.4%;

border-radius: 60px;
}
.task{
height: 400px;
width: 425px;
position: relative;
display: none;
/* background-color: #3a4452; */
top: .6%;
border-radius: 20px;

background: #e0e0e0;

box-shadow:  20px 20px 60px #5a5a5a, inset
             -20px -20px 80px #ffffff;
}

ul{
    position: relative;
    font-size: 2em;
    top: 2%;
text-transform: uppercase;
    
}
i{
    position: absolute;
  top: 2%;
  cursor: pointer;
    left: 90%;
}
::placeholder{
    font-size: 1.6em;
    padding: 0px 20px;
    
}
@media  (max-width:600px) {
    .page{
        height: 100vh;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
       
    }
    
.page1{
    height: 60%;
    width: 85%;
    display: flex;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-image: url("https://images.unsplash.com/photo-1588867702719-969c8ac733d6?q=80&w=1964&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
}
    .page2{
        height: 100%;
        width: 100%;
       ;      
     
    }
    .page2 h1{
    text-align: center;
    margin-top: 20px;
    color: #fff;
    text-transform: uppercase;
    font-size: 5vw;
    
    }
    .row{
        position:relative;
    margin-left: 80px;
    margin-top: 30px;
    height: 100%;
    width: 100%;
    
    }
    /* .input-wrapper input {
      background-color: #eee;
      border: none;
      padding: 1rem;
      font-size: em;
      width: 13em;
      border-radius: 1rem;
      color: lightcoral;
      box-shadow: 0 0.4rem #dfd9d9;
      cursor: pointer;
    } */
    .row input{
        border: none;
        outline: none;
        height: 35px;
        width: 300px;
        position: absolute;
        border-radius: 15px;
        right: 35%;
    }
    button{
    height: 39px;
    width: 60px;
    position: absolute;
    left: 60%;
    border: none;
    cursor: pointer;
    background-color: #ff5945;
    outline: none;
    color: white;
    font-size: 25px;
    top: -.4%;
    border-radius: 30px;
    }
    .task{
        height: 400px;
        width: 300px;
        position: relative;
        display: none;
        /* background-color: #3a4452; */
        top: 10%;
        border-radius: 20px;
        right: 12%;
        background: #e0e0e0;  
        box-shadow:  20px 20px 60px #5a5a5a, inset
                     -20px -20px 80px #ffffff;
        }

        ul{
            position: relative;
            font-size: 1.4em;
            top: 2%;
            left: 2%;
        text-transform: uppercase;
            
        }
        i{
            position: absolute;
          top: 2%;
          cursor: pointer;
            left: 84%;
            font-size: 5vw;
        }
        ::placeholder{
            font-size: 1.6em;
            padding: 0px 20px;
            
        }
}